<!DOCTYPE html>
<html lang="en">

<head>

    {{>headerlink}}
</head>

<body>

    <!-- bootstrap navbar -->
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right_side_div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <!-- RSH  -->
                        <figure>
                            <img src="images/abt.png" alt="Sourav Debnath" class="img-fluid" title="srv tech">
                        </figure>
                    </div>
                    <!-- right_side_div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather website</p>
                        <h4>I'm a <span class="text_clr"> MERN/MARN/Android/iOS </span>Developer.</h4>
                        <a href="https://github.com/souravdn"><button>GitHub</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code  -->
    {{>footer}}
</body>

</html>